################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DbScripterApp/bin
/DbScripterApp/obj
/DbScripterLib/bin
/DbScripterLib/obj
/Tests/Safe
