# Visual Studio
*.suo
*.user
.vs/
bin/
obj/
*.csproj.user
*.sln.docstates

# SSDT
*.dacpac
*.publish.xml
*.sqlproj.user
*.dbmdl
*.jfm
sql/

# Test Output
*.trx
TestResults/

# Logs
d:/logs/

# NuGet
packages/
*.nupkg

# Config (optional, if you want to exclude)
# Config/*.json

# Miscellaneous
*.cache
*.log
*.bak
*.tmp