<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFrameworkExtras.EF6" version="1.0.0" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="140.17283.0" targetFramework="net48" />
  <package id="Prism.Core" version="7.0.0.362" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
</packages>