<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <appSettings>
       <add key="Config Name"        value="DbScripter Lib config" />
       <add key="Default Script Dir" value="D:\Dev\Scripts\db_export_scripts\Telepat" />
       <add key="Default Database"   value="Telepat" />
       <add key="Default Instance"   value="SQLExpress" />
       <add key="Default Server"     value="DevI9" />
    </appSettings>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
